@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .friend-border-dark {
        border: 2px outset hsl(var(--nextui-success));
    }
    .friend-border-light {
        border: 2px solid hsl(var(--nextui-success));
        border-bottom: 0;
        border-right: 0;
    }
}