@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .friend-border-dark {
        border: 2px outset theme("colors.lime.700");
    }
    .friend-border-light {
        border: 2px solid theme("colors.lime.300");
        border-bottom: 0;
        border-right: 0;
    }
}